:root {
    /** colours **/
    --yellow: #FED766;
    --lt-seafoam-green: #ecf9f6;
    --seafoam-green: #43C6AC;
    --md-blue: #191654;
    --dk-blue: #0C0B2A;
    --blue-grey: #6B717E;

    /** typography **/
    --headings: 'Monoton', cursive;
    --body: 'Rubik', sans-serif;
}

html {
    font-size: 16px;
    background-color: #ffffff;
}

.sr-only {
    position: absolute;
    top: 0;
    left: -9999999px;
    width: 0.1rem;
    height: 0.1rem;
    visibility: hidden;
}

/** Global Styles **/

h1 {
    display: none;
}

body {
    font-family: var(--body);
    color: var(--md-blue);
}

h2 {
    font-family: var(--headings);
    color: var(--md-blue);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.7rem;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
}

li, ul{
    text-decoration: none;
    list-style: none;
}

/** Header **/


header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.heading {
    margin-top: 1.25rem;
    margin-bottom: 1.38rem;
    margin-left: 1.63rem;
    height: auto;
    width: 12.5rem;
}

/** Hero **/

.hero-content h2,
.hero-content p {
    color: var(--lt-seafoam-green);
    text-align: left;
}

.hero {
    background: linear-gradient(45deg, var(--md-blue), var(--seafoam-green));
    display: flex;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content p {
    margin-top: 1.63rem;
    font-size: 1.2rem;
    font-weight: 300;
}

/** Buttons **/

.button-1 {
    display: inline-block;
    background-color: var(--seafoam-green);
    color: var(--md-blue);
    width: 100%;
    text-align: center;
    padding: 1.38rem 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.button-2 {
    display: inline-block;
    border: 0.2rem solid var(--seafoam-green);
    border-radius: 0.3rem;
    color: var(--seafoam-green);
    width: 100%;
    text-align: center;
    padding: 1.01rem 0;
    font-size: 1.5rem;
}

.button-3 {
    display: flex;
    border: 0.2rem solid var(--md-blue);
    border-radius: 0.1rem;
    color: var(--md-blue);
    text-align: center;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    padding: 1.01rem 0;
    align-items: center;
    justify-content: center;
}

.button-3 svg {
    width: 1.8rem;
    height: auto;
    margin-left: 0.3rem;
}


/** Our Work **/

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-content h2,
.wwd-text h2 {
    margin-right: auto;
    border-bottom: 0.2rem solid var(--seafoam-green);
    line-height: 4rem;
}

.row-1 .card:nth-child(odd),
.row-2 .card:nth-child(even) {
    background-color: var(--md-blue);
    color: var(--lt-seafoam-green);
}

.row-2 .card:nth-child(odd),
.row-1 .card:nth-child(even) {
    background-color: var(--seafoam-green);
    color: var(--md-blue);
}

.card-body h3 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 1rem;
}

.card {
    width: 18.75rem;
    height: 19.19rem;
    flex: 0 0 auto;
}

.card img {
    width: 100%;
    height: 15.31rem;
    object-fit: cover;
}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
}

.row-1,
.row-2 {
    display: flex;
    width: 100%;
}

.card-body {
    height: 3.69rem;
    display: flex;
    text-align: left;
    align-items: center;
}

/** What We Do **/
.what-we-do {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wwd-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.wwd-card-body h3 {
    color: var(--seafoam-green);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.75rem;
    line-height: 2.2rem;
}

.wwd-card-body p {
    margin-bottom: 3.19rem;
}

.wwd-card img {
    border-radius: 1rem;
}

/** Who We Are **/
.who-we-are {
    background-color: var(--seafoam-green);
    padding-top: 4.69rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wwa-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wwa-text h2 {
    margin-right: auto;
    border-bottom: 0.2rem solid var(--lt-seafoam-green);
    line-height: 4rem;
}

/** Footer **/
footer {
    background-color: var(--md-blue);
    color: var(--lt-seafoam-green);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

footer h2 {
    color: var(--lt-seafoam-green);
    font-size: 1.8rem;
}

.block {
    display: block;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.address {
    margin-top: 2.31rem;
}

.address p {
    margin-top: 0.6rem;
}

.email {
    margin-top: 3.63rem;
    width: 13.38rem;
}

.copyright {
    background-color: var(--dk-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials svg {
    height: 2.25rem;
    width: auto;
    margin-right: 1rem;
    margin-top: 1rem;
}

/** Form **/

.subscribe form input[type="email"] {
    background-color: var(--lt-seafoam-green);
    border: none;
    text-transform: uppercase;
}

.subscribe form input[type="submit"] {
    background-color: var(--seafoam-green);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

/** Screen Sizes Styling **/
@media screen and (min-width:320px) {

    /** Hero **/
    .hero-content {
        width: 21.5rem;
        justify-content: center;
    }

    .hero-content h2 {
        width: 17.56rem;
        line-height: 4rem;
        margin-top: 5.06rem;
    }


    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        gap: 1.5rem;
        margin-top: 3.81rem;
        margin-bottom: 5.13rem;
    }

    /** Our Work **/
    .work-content {
        width: 21.5rem;
        margin-top: 4.69rem;
        margin-bottom: 3.38rem;
    }

    .work-content h2 {
        margin-bottom: 2.44rem;
    }

    .button-3 {
        width: 21.5rem;
        margin-top: 3.38rem;
    }

    /** What We Do **/
    .wwd-content {
        width: 21.5rem;
    }

    .wwd-text h2 {
        margin-top: 4.63rem;
        margin-bottom: 2.63rem;
    }

    .wwd-card img {
        margin-bottom: 2.5rem;
        width: 100%;
        height: auto;
    }

    .wwd-cards {
        margin-top: 2.81rem;
    }

    /** Who We Are **/

    .wwa-text {
        width: 21.5rem;
    }

    .wwa-text p {
        margin-top: 2.5rem;
    }

    .wwa-text .button-3 {
        margin-bottom: 4.94rem;
    }

    .wwa-wrapper img {
        width: 21.5rem;
        height: auto;
        margin-bottom: 1rem;
    }

    /** Footer **/

    .footer-wrapper {
        width: 21.5rem;
        margin-top: 4.94rem;
    }

    .newsletter {
        margin-top: 4.81rem;
    }

    .newsletter p {
        margin-bottom: 2.31rem;
    }

    .copyright-wrapper {
        width: 21.5rem;
        margin-bottom: 1rem;
        margin-top: 0.16rem;
    }

    /** Form **/

    .sub-news {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .subscribe form input[type="email"] {
        width: 100%;
        padding: 1rem 0 1rem 1rem;
        font-size: 1.3rem;
        color: var(--md-blue);
        margin-top: 2.38rem;
    }

    .subscribe form input[type="submit"] {
        width: 100%;
        padding: 1rem 0;
        font-size: 1.3rem;
        color: var(--md-blue);
        margin-top: 1rem;
        margin-bottom: 3.25rem;
    }

    /** Nav **/

    .menu-icon div {
        width: 3.19rem;
        height: 0.38rem;
        background-color: var(--dk-blue);
        margin: 0.38rem 0;
      }

      .wide-flex{
        margin-left: auto;
        margin-right: 0.69rem;
      }

      .main-menu li ul{
        display: none;
     }
}

@media screen and (min-width:1000px) {

    h2 {
        font-size: 3.5rem;
    }

    /** Hero **/
    .hero-content {
        width: 48rem;
        justify-content: center;
    }

    .hero-content h2 {
        width: 100%;
        margin-top: 10.06rem;
    }

    .lower {
        display: block;
    }

    .buttons {
        flex-direction: row;
        margin-bottom: 10.06rem;
    }

    /** Our Work **/

    .work-content {
        width: 48rem;
    }

    .work-content h2 {
        margin-bottom: 2.81rem;
    }

    .wrapper {
        width: 63rem;
        display: flex;
        justify-content: end;
    }

    .scroll-wrapper {
        width: auto;
    }

    /** What We Do **/

    .wwd-content {
        width: 63rem;
        flex-direction: row;
        margin-top: 6.25rem;
        margin-bottom: 9.38rem;
    }

    .wwd-text {
        width: 24rem;
        margin-bottom: auto;
        margin-top: 0;
    }

    .wwd-text h2 {
        width: 21.5rem;
        font-size: 2.6rem;
        margin-top: 0;
    }

    .wwd-cards {
        justify-content: end;
    }

    .wwd-card {
        width: 18.75rem;
    }

    .wwd-card:last-child {
        height: 18.75rem;
        width: 37.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        transform: translateX(-1rem);
    }

    .wwd-cards {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 0;
    }

    .wwd-card img {
        height: 18.75rem;
    }

    /** Who We Are **/
    .wwa-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 3rem;
        width: 63rem;
    }

    .wwa-text h2 {
        font-size: 3rem;
    }

    .wwa-text .button-3 {
        margin-right: auto;
    }

    .wwa-text {
        width: 30rem;
    }

    .wwa-wrapper img {
        width: 33rem;
        margin-bottom: auto;
    }

    .wwa-text p {
        margin-top: 1.5rem;
    }

    .wwa-text .button-3 {
        margin-top: 2rem;
    }

    /** Footer **/
    .footer-wrapper {
        width: 63rem;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 7.63rem;
    }

    .sub-news {
        flex-direction: row;
        margin-top: 2.75rem;
        margin-bottom: 3.31rem;
    }

    .newsletter {
        width: 31.94rem;
        margin: 0;
    }

    .subscribe form input[type="email"]{
        margin: 0;
    }

    .subscribe form input[type="submit"] {
        margin: 0;
        padding: 1rem;
    }

    .block{
        display: inline;
    }

    .copyright-wrapper{
        width: 63rem;;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 0;
    }

    .socials{
        flex-direction: row;
        margin-left: auto;
    }

     /** Nav **/

     .menu-icon{
        display: none;
     }

     .main-menu li ul{
        display: block;
     }

     .main-menu .second-tier{
        display: flex;
        flex-direction: row;
        gap: 1.69rem;
     }

     .second-tier a{
        text-decoration: none;
        color: var(--dk-blue);
     }

     input[type="text"] {
        text-transform: uppercase;
        border: 0.15rem solid var(--dk-blue);
        border-radius: 0.4rem;
    }
   
    .main-menu{
        padding: 0;
    }

}